
*{
background-color: var(--background);
text-align: center;
color: var(--text-primary);

}


:root {
  --background: rgb(14, 14, 14);
  --text-primary: rgb(240, 240, 240);
  --text-secondary: royalblue;
  --accent: rgb(26, 0, 0);
}
[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}




.nav{
background-color: var(--accent);
height: 35px;
padding-bottom: 5px;

position: fixed;
top: 0px;

width: 100%;
}

.navBotun{
  width: 15%;
  height: 25px;
}

.navSlov{
  width: 45%;
}

.navBotun, .navSlov{
  background-color: var(--accent);
}



.textt{
font-size: 20px;

padding-right: 150px;
padding-left: 150px;

text-align: left;
}

.prim{
padding-top: 100px;
}



.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}



